@import './theme.scss';

*, html, body, #app {
  /*
    Stops timelines from highlighting when shift clicking.
  */
  font-family: 'Gill Sans MT';
  user-select: none; /* CSS3 (little to no support) */
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: none; /* Gecko (Firefox) */
  -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}
body, #app {
  background-color: $background;
  height: 100%;
}

/*
  Modals
*/
.modal {
  border-radius: 2px;
  header {
    border: none;
    color: $text;
  }
  input:not(.md-input) {
    &[type="text"]{
      width: 100%;
      background: $background;
    }
    border: none;
    font-size: 1.5em;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
  }
  textarea {
    width: 100%;
    max-height: 200px;
  }
  label {
    font-size: 1.2em;
    padding-right: 20px;
  }
  footer {
    border: none;
  }
  button:not(.md-button) {
    background-color: white;
    color: $create;
    border: none;
  }
}

/*
  Buttons
*/
button:not(.md-button, .btn-round) {
  border: none;
  border-radius: 2px;
  min-width: 94px;
  min-height: 36px;
  font-size: 16px;
}

.btn-round {
  border-radius: 25px;
  min-width: 45px;
  min-height: 45px;
  font-size: 20px;
}

/*
  Icons
*/
i {
  cursor: pointer;
}

.md-datepicker-dialog, .md-overlay, .md-datepicker-overlay {
  z-index: 1200 !important;
}
