$cancel: #8388A4;
$delete: #ED5E68;
$background: #EEEEEE;
$text: #38474E;
$create: #13AB94;
$select: #0083C1;
$header-bg: white;
$search-bg: #EEEEEE;
$register-bg: white;
$event-bg: white;

.btn-create {background-color: $create; color: white;}
.btn-cancel {background-color: $cancel; color: white;}
.btn-delete {background-color: $delete; color: white;}
.btn-select {background-color: $select; color: white;}
