$cancel: #8388A4;
$delete: #ED5E68;
$background: #EEEEEE;
$text: #38474E;
$create: #13AB94;
$select: #0083C1;
$header-bg: white;
$search-bg: #EEEEEE;
$register-bg: white;
$event-bg: white;
$edit-description: #EEEEEE;
$cancel-edit: #ED5E68;
$save: #13AB94;
$context-background: white;
$context-hover: #38474E;

.btn-create {background-color: $create; color: white;}
.btn-cancel {background-color: $cancel; color: white;}
.btn-delete {background-color: $delete; color: white;}
.btn-select {background-color: $select; color: white;}
.btn-save {background-color: $save; color: white;}
.btn-cancel-edit {background-color: $cancel-edit; color: white;}
